__pycache__
.idea
env
mydatabase
geckodriver.log
.coverage
.env
.vscode
node_modules/
dist/
coverage/

config/nginx/nginx_*

*.db
/data

*.p12

config/secret.yaml

pgbouncer.ini

userlist.txt

config/kubernetes/secrets/

backend/coverage_report